@page "/home"

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>API</title>
</head>
<body>
    <center><h1>API Works!!</h1></center>
</body>
</html>
